<div class="w-full bg-black h-20 flex justify-evenly items-center">
  <a
    [routerLink]="['/login']"
    class="text-white font-sans font-bold text-xl hover:scale-110 transition-all"
  >
    Login
  </a>
  <a
    [routerLink]="['/calculator']"
    class="text-white font-sans font-bold text-xl hover:scale-110 transition-all"
  >
    Calculadora
  </a>
  <a
    [routerLink]="['/numerosAmigos']"
    class="text-white font-sans font-bold text-xl hover:scale-110 transition-all"
  >
    Numeros Amigos
  </a>
  <a
    [routerLink]="['/matriz']"
    class="text-white font-sans font-bold text-xl hover:scale-110 transition-all"
  >
    Matriz
  </a>
</div>
